body {
  font-family: "Fredoka", sans-serif; font-weight: 400;
  margin: 30px;
  background: #008D36;
}

h2 {
  font-family: "Fredoka", sans-serif; font-weight: 400;
  color: #008D36;
}

h1 {
  color: #FFFFFF;
  font-family: "Fredoka", sans-serif; font-weight: 400;
}

label, select, input, button {
  color: #008D36;
  font-family: "Fredoka", sans-serif; font-weight: 400;
  margin: 6px 0;
  display: block;
}

select, button {
  padding: 8px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #008D36;
}

input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #008D36;  
}

button {
  padding: 10px;
  background: #008D36;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #005721;
}

.editBtn {
  background: #ffc107;
  margin-left: 8px;
}

.editBtn:hover {
  background: #d39e00;
}

.section {
  background: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

#btnExportar {
  background: #008D36;
}

#previewImagens img {
  max-width: 100px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#idade {
  width: 100px;
  background: #fff;
  border: 1px solid #008D36;
  text-align: center;
  pointer-events: none;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 4px;
}
